
---
import PaginacionLayout from "../layouts/PaginacionLayout.astro"
---

<PaginacionLayout title="Agendar cita">
    <div class="flex justify-center w-full h-screen items-center sm:p-10">
        <iframe
          src="https:calendly.com/moneyhoney"
          class="rounded-md shadow-lg w-full h-screen"
          allowfullscreen>
        </iframe>
      </div>
</PaginacionLayout>

