---
import PaginacionLayout from "../layouts/PaginacionLayout.astro";
---




<PaginacionLayout title="Asesorias">

    <div class="w-full flex flex-col gap-5">

        <div class="flex  flex-col items-star justify-end p-2">
            <h1 class="text-[1.8rem] font-semibold lg:font-bold  font-italiana sm:text-[2rem] text-left">Asesoría Financiera para un Futuro Seguro</h1>
            <p class="lg:text-[1.1rem]  text-[1rem] text-left font-opensans ">Ayudándote a construir un retiro sin preocupaciones a través de una planificación financiera personalizada.</p>
        </div>
        <div class="w-full sm:fondo  fondo-m h-screen flex justify-end">
            <div class="flex w-full  sm:w-1/2 bg-[rgba(215,185,255,0.1)] flex-col sm:gap-5 p-5 sm:p-20  h-screen sm:justify-center justify-end">
                    <h3 class="font-semibold text-[2.5rem] sm:text-black text-white font-opensans">Misión</h3>
                    <p class=" text-justify  text-[1.2rem] sm:text-[1.1rem] sm:text-black text-white font-opensans">Como asesor financiero, mi misión es ayudarte a asegurar tu bienestar futuro y brindarte tranquilidad en tu retiro, ofreciendo asesoramiento personalizado según tus necesidades y metas.</p>  
            </div>
        </div>
    </div>

    <div class="w-full flex flex-col py-20 gap-10 px-1">

        <div class="w-full flex sm:flex-row flex-col justify-around px-5 gap-5">
            <div class="w-full  flex flex-col justify-center sm:px-5 gap-2">
                    <span class="font-bold text-[1.8rem] sm:text-[2.5rem]  font-opensans text-center">Mi Objetivo</span>
                    <p class="sm:text-justify text-black  text-[1.2rem] font-opensans text-center font-extralight"> Ayudo a mis clientes a planificar su retiro desde temprano, diseñando estrategias personalizadas para alcanzar la independencia financiera según sus metas y situación actual.</p>
            </div>

           
            <img class=" w-full sm:w-[35%] rounded-[0.1rem] transition-opacity duration-300 hover:opacity-80 hover:brightness-110 " src="/imagenes/objetivo.svg" alt="objetivo">
        
            
           

        </div>

        <div class="w-full flex sm:flex-row flex-col justify-around px-5 gap-5">
            <div class="w-full sm:w-1/2 flex flex-col justify-center sm:px-5 sm:order-2 gap-2">
                    <span class="font-bold text-[1.8rem] sm:text-[2.5rem]  font-opensans text-center">Estrategia y Enfoque</span>
                    <p class="sm:text-justify text-black  text-[1.2rem] font-opensans font-extralight text-center"> Como asesor, te ofreceré inversiones seguras y rentables, adaptadas a tus objetivos, con recomendaciones claras para tomar decisiones informadas.</p>
            </div>
            
            <img class="w-full sm:w-[35%] rounded-[0.1rem] transition-opacity duration-300 hover:opacity-80 hover:brightness-110" src="/imagenes/estrategia.svg" alt="objetivo">
         

        </div>

        <div class="w-full flex sm:flex-row flex-col justify-around px-5 gap-5">
            <div class="w-full sm:w-1/2 flex flex-col justify-center sm:px-5 gap-2">
                    <span class="font-bold text-[1.8rem] sm:text-[2.5rem]  font-opensans text-center">Acompañamiento Continuo</span>
                    <p class="sm:text-justify text-black  text-[1.2rem] font-opensans font-extralight text-center"> Mi compromiso es brindarte seguimiento continuo, ajustando las estrategias según sea necesario y estando siempre disponible para responder tus preguntas y ofrecer apoyo en tu camino hacia el retiro.</p>
            </div>
            
            <img class="w-full sm:w-[35%] rounded-[0.1rem] transition-opacity duration-300 hover:opacity-80 hover:brightness-110" src="/imagenes/compania.svg" alt="objetivo">
         

        </div>


        <div class="w-full flex sm:flex-row flex-col justify-around px-5 gap-5">
            <div class="w-full sm:w-1/2 flex flex-col justify-center sm:px-5 sm:order-2 gap-2">
                    <span class="font-bold text-[1.8rem] sm:text-[2.5rem]  font-opensans text-center">Mi Mayor Satisfacción</span>
                    <p class="sm:text-justify text-black  text-[1.2rem] font-opensans font-extralight text-center"> Mi objetivo es ayudarte a lograr tus metas financieras y asegurar un futuro próspero y sin preocupaciones en tu jubilación.</p>
            </div>
            
            <img class="w-full sm:w-[35%] rounded-[0.1rem] transition-opacity duration-300 hover:opacity-80 hover:brightness-110" src="/imagenes/satisfaccion.svg" alt="objetivo">
         

        </div>
      


        



        

    </div>

    <div class="flex flex-col sm:py-10 gap-20 w-full p-2">
        <h3 class="text-black text-center text-[1.5rem] sm:text-[2rem] font-bold font-opensans mx-5">¿Listo para comenzar tu camino hacia un  retiro seguro?</h3>
        <a href="/agendar" class="w-full flex justify-center">
        <button class="bg-[#8C52FF] w-full sm:w-1/3 sm:h-[8rem] h-[5rem] text-white font-medium text-[2rem] sm:text-[2.5rem] rounded-[0.5rem] sm:rounded-[1rem]  hover:bg-[#D7B9FF] shadow-purple-glow font-opensans">
            Solicitar Asesoría
        </button>
        </a>
        
    </div>
  
    <div class="flex flex-col justify-center items-center w-full bg-[#8C52FF]  mt-[10rem] relative h-[21rem] ">
        <img class="w-1/2 sm:w-1/4 z-10 absolute sm:top-[-12rem] top-[-6rem]" src="imagenes/Frase.svg" alt="">

       <p class="text-center text-[1.5rem] sm:text-[2rem] font-medium text-white w-full sm:w-[40%] font-opensans">"El interés compuesto es la octava maravilla del mundo" <br>-Albert Einstein.</p>
    </div>


    <div class="w-full flex flex-wrap justify-evenly py-24 gap-5 p-2">
        <button class="w-full sm:w-1/4 h-[5rem] sm:h-[10rem] bg-black text-[1.1rem] sm:text-[2rem] text-white font-bold shadow shadow-black rounded-[10rem] hover:shadow-white font-opensans">TESTIMONIOS</button>
        <button class="w-full sm:w-1/4 h-[5rem] sm:h-[10rem] bg-black text-[1.1rem] sm:text-[2rem] text-white font-bold shadow shadow-black rounded-[10rem] hover:shadow-white font-opensans">PREGUNTAS <br> FRECUENTES</button>
    </div>

</PaginacionLayout>


<style>
    @import url('https://fonts.googleapis.com/css2?family=Italiana&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

    .fondo{
        background-image: url('imagenes/mision.svg');
        height:100vh;
        background-size:cover;
        background-position: 90%;
        background-repeat: no-repeat;
    }    

    .fondo-m{
        background-image: url('imagenes/mision.svg');
        height:100vh;
        background-size:cover;
        background-position: 10%;
        background-repeat: no-repeat;
    }    

    .color-contenedor{
        background-color: #D7B9FF;
    }

   

  
</style>