---
import PanelLayout from "../layouts/PanelLayout.astro";
//import ComentariosAdmin from "../components/comentariosAdmin.astro";
//import { fetchComentario } from "../script/fetchComentario";

//const comentarios= await fetchComentario()
---

<PanelLayout title="Comentarios">

	
	<div class="w-full p-6">
	<h1 class="font-opensans font-bold sm:text-4xl text-2xl">Comentarios</h1>
		<div id="comentarios-admin" class="w-full w-max-full  sm:my-10  gap-4  p-5  flex flex-wrap"></div>

	</div>
</PanelLayout>

<script src="../script/protected.js"></script>
<script src="../script/fetchComentarios.js"></script>
<script src="../script/eliminarComentario.js"></script>
<script src="../script/aprobarComentarios.js"></script>
