---
import PaginacionLayout from "../layouts/PaginacionLayout.astro";
import Cesta from "../components/cesta.astro";
---

<PaginacionLayout title="Ebook">

   <div id="container-ventaLibro"  class="flex flex-col gap-10 my-20 mx-10">

   
                
     </div>

     <Cesta />
  
</PaginacionLayout>

<script src="../script/librosVenta.js"></script>

<script src="https://js.stripe.com/v3/"></script>