---
import Layout from '../layouts/Layout.astro';


const today = new Date();
const mes = today.toLocaleString('default', { month: 'long' }); // Mes en formato largo (e.g., January)
const anio = today.getFullYear(); // Año
---

<Layout title="Inicio">
	<div class=" text-white portada bg-white  w-full h-screen flex flex-col  sm:justify-between ">
		
		<nav class="flex sm:flex-col justify-between items-center   color sm:h-1/6 h-[10%] w-full px-5">
		  
		  <div class="text-[3rem] text-center font-italiana">moneyhoney</div>
		  
		  
		  <ul class="hidden md:flex space-x-6 font-opensans">
			<li><a href="/asesorias" class="font-opensans">ASESORIAS</a></li>
			<li><a href="/servicios" class="font-opensans">SERVICIOS</a></li>
			<li><a href="/ebook" class="font-opensans">EBOOKS</a></li>
		  </ul>
		  
		 
		  <button class="md:hidden mx-2 text-[1.5rem] transform transition-all duration-500 hover:scale-105" id="menu-toggle">
			<i class="fa-solid fa-bars  " id="icono"></i>
		  </button>

		</nav>

		
	  


		<!-- Menú desplegable en dispositivos pequeños -->
		<ul class="hidden   color p-4 md:hidden  h-screen  w-full" id="mobile-menu">
			
			<div class="flex justify-center items-center flex-col h-screen space-y-10 text-[1.5rem] font-opensans">
				<li><a	href="/asesorias" >ASESORIAS</a></li>
				<li><a href="#">SERVICIOS</a></li>
				<li><a href="#">LIBROS</a></li>
			</div>
		</ul>

		<div class="hidden sm:flex sm:items-center sm:justify-between sm:w-max-full   sm:flex-row     sm:h-[5rem] sm:mx-5 ">
			<p class="text-[1.5rem] font-medium font-opensans first-letter:uppercase">{mes}</p>
			<a href="https://www.instagram.com/__moneyhoney____/" target="_blank">
				<button class=" w-[40%]  p-1 text-[1rem]  sm:w-[12rem] sm:h-[2rem] h-[4rem] rounded-[1rem] bg-white text-black text-center font-opensans">@__moneyhoney____</button>
			</a>
			<p class="text-[1.5rem] font-medium font-opensans ">{anio}</p>
		  </div>

		
	  </div>

	<hr class="bg-black h-[.4rem] m-10 rounded-[10rem]"> 

 	<div class="w-full h-45  flex flex-col  items-center my-5  ">
		<h2 class="text-center  text-[1.5rem] font-opensans">“PAY THE PRICE TODAY SO YOU CAN PAY ANY PRICE TOMORROW.”</h2>
		<h1 class="text-center my-[1rem] text-[3rem] sm:text-[4rem] font-italiana">Carolina Ruvalcaba</h1>
		<h3 class=" text-center text-[2rem] font-opensans">Agente de Seguros</h3>
	</div>


	<div class="flex flex-wrap sm:flex-row items-center  w-full flex-col justify-evenly px-5">
			
		
		<div class="sm:w-2/4  flex flex-col justify-start items-center sm:items-start w-full gap-5 sm:gap-10 order-2 sm:order-1">

			
				<h5 class="text-center sm:text-left  text-[2.5rem] font-medium font-italiana">¿Quién soy?</h5>
				<p class="text-justify text-[1.3rem] font-[450] font-opensans">Formada académicamente  en la Licenciatura de comercio electrónico, con experiencia en el campo de las finanzas. Trabajo en el asesoramiento de personas que buscan lograr una jubilación digna siguiendo un plan de ahorro personalizado. Además me mantengo al tanto de las últimas tendencias  y cambios en el mercado financiero. La actualización constante me permite ofrecerte asesoramiento profesional, relevante e imparcial. </p>
				<a href="/asesorias" class="w-full flex justify-center items-center">
				<button class="w-full sm:w-1/2 h-[5rem] text-[1.5rem]  rounded-[.5rem] sm:rounded-[50rem] text-white bg-[#8C52FF] hover:bg-[#D7B9FF] shadow-color font-medium font-opensans" >ASESORIAS</button>
				</a>
			
				
		</div>

		<img class=" sm:w-[40%] w-[15rem] p-2 sm:order-2 order-1" src="/imagenes/quien_soy.png" alt="error">
		
		
	</div>



	















	<h4 class="text-[2rem] sm:text-[4rem] text-center font-italiana mt-20" >VENTAJAS DE TENER UN ASESOR FINANCIERO</h4>

	<div class="flex sm:flex my-20 flex-col sm:flex-row  w-full justify-center items-center">
	

		
		<img class="sm:w-[40%] w-[15rem] flex " src="/imagenes/ventajas.png" alt="">
			

		 <div class="w-full sm:w-1/2 flex  flex-col justify-center items-center gap-10 text-[1.3rem] px-5">

				<div class="w-full flex flex-col justify-center  gap-5  h-2/3 ">
					<span class="font-opensans text-[1.8rem]"><i class="fa-solid fa-check"></i> Análisis personalizado</span>
					<span class="font-opensans text-[1.8rem]"><i class="fa-solid fa-check"></i> Experiencia y conocimiento</span>
					<span class="font-opensans text-[1.8rem]"><i class="fa-solid fa-check"></i> Estrategia de inversión  inteligente</span>
					<span class="font-opensans text-[1.8rem]"><i class="fa-solid fa-check"></i> Monitoreo y ajustes constantes</span>
					<span class="font-opensans text-[1.8rem]"><i class="fa-solid fa-check"></i> Tranquilidad y confianza</span>
				</div>
					
				
				<a href="/agendar" class="w-full flex justify-center items-center">
					<button class="w-full sm:w-1/2 h-[5rem] text-[1.5rem]  rounded-[.5rem] sm:rounded-[50rem] text-white bg-[#8C52FF] hover:bg-[#D7B9FF] shadow-color font-medium" >AGENDAR CITA</button>
				</a>
				
		</div>
		
	</div>
	
	  
	
	<h3 class="text-[2rem] sm:text-[4rem] text-center font-italiana">PERFIL PROFESIONAL</h3>
	

	<section class="flex  flex-col sm:flex-row justify-center sm:justify-evenly sm:gap-10 gap-5 items-center w-full my-[6rem] " >

		<article class="flex flex-col justify-center sm:gap-5 gap-3 " >
			<div class="flex justify-center items-center bg-[#8C52FF] rounded-full p-10 w-[8rem] h-[8rem] sm:w-[7rem] sm:h-[7rem]">
				<i class="fa-solid fa-comments text-white sm:text-[2.5rem] text-[2.5rem]"></i> 
			</div>
	
			<p class="text-center sm:text-xl text-[1.5rem] font-opensans">ASESORA</p>
		</article>

		<article class="flex flex-col justify-center sm:gap-5 gap-3 " >
			<div class="flex justify-center items-center bg-[#8C52FF] rounded-full p-10 w-[8rem] h-[8rem] sm:w-[7rem] sm:h-[7rem] ">
				<i class="fa-solid fa-coins text-white sm:text-[2.5rem] text-[2.5rem]"></i>
			</div>
	
			<p class="text-center sm:text-xl text-[1.5rem] font-opensans">FINANCIERA</p>
		</article>


		
		<article class="flex flex-col justify-center sm:gap-5 gap-3 items-center ">
			<div class="flex justify-center items-center bg-[#8C52FF] rounded-full p-10 w-[8rem] h-[8rem] sm:w-[7rem] sm:h-[7rem] ">
				<i class="fa-solid fa-house text-white sm:text-[2.5rem] text-[2rem]"></i>
			</div>
			<p class="text-center sm:text-xl text-[1.5rem] font-opensans">AGENTE DE SEGUROS</p>
		</article>
		
	</section>

	<div class="w-max-full flex flex-col  gap-5 sm:m-10 ">
		
		<p class="text-[1.5rem] sm:text-[1.5rem] font-normal font-opensans text-center"><b class="sm:text-[2rem] text-[2rem] font-bold text-left sm:mx-10 mx-2 font-italiana">Descubre el Camino hacia Tu Futuro Financiero: ¡Tu Retiro Comienza Hoy!  </b>¿Estás listo para tomar el control de tu futuro financiero?</p>
		<img class="sm:w-[45rem] w-[40rem] m-auto" src="/imagenes/libro.svg" alt=":(">
		<p class="text-[1.2rem] text-justify sm:mx-10 mx-5 font-opensans">Te presento “AHORRA PARA TU RETIRO”, una guía esencial para entender la importancia de planificar tu retiro desde hoy.
		En este libro, aprenderás estrategias probadas para asegurar tu independencia financiera y alcanzar tus metas a largo plazo. 
		Ya sea que estés comenzando tu carrera profesional o te acerques a la jubilación, nunca es demasiado tarde para tomar las riendas de tu bienestar económico.
		</p>
	</div>

	<h6 class="text-[4rem] text-center font-italiana">TESTIMONIOS</h6>

	<div class="flex sm:flex-row flex-col w-max-full  m-5 sm:my-10 justify-center items-center gap-4  ">

		<div class="bg-[#D7B9FF]  w-full sm:w-1/3 h-[10rem] sm:h-[12rem] rounded-[.5rem] border-[#8C52FF] border-[1px] transform transition-all duration-500 hover:scale-105">
			<div class="flex m-2 gap-2 items-center justify-start">
				<img class="sm:w-[4rem] w-[2rem] sm:h-[4rem] h-[2rem] rounded-full" src="imagenes/perfil.jpg" alt="">
				<p class="text-[#8C52FF] font-medium text-left sm:text-[1.3rem] text-[1.2rem] font-opensans">Luisa Fernanda</p>
			</div>

			<div class="m-2">
				<p class="text-white text-[1.1rem] sm:text-[1rem] font-normal text-left font-opensans">También es una gran plataforma para crear un marco, ya que proporciona un entorno de desarrollo conectable. La comunidad también es increíble.</p>
			</div>

		</div>

		<div class="bg-[#D7B9FF]  w-full sm:w-1/3 h-[10rem] sm:h-[12rem] rounded-[.5rem] border-[#8C52FF] border-[1px]  transform transition-all duration-500 hover:scale-105">
			<div class="flex m-2 gap-2 items-center justify-start">
				<img class="sm:w-[4rem] w-[2rem] sm:h-[4rem] h-[2rem] rounded-full" src="imagenes/perfil.jpg" alt="">
				<p class="text-[#8C52FF] font-medium text-left sm:text-[1.3rem] text-[1.2rem] font-opensans">Luisa Fernanda</p>
			</div>

			<div class="m-2">
				<p class="text-white text-[1.1rem] sm:text-[1rem] font-normal text-left font-opensans">También es una gran plataforma para crear un marco, ya que proporciona un entorno de desarrollo conectable. La comunidad también es increíble.</p>
			</div>

		</div>

		<div class="bg-[#D7B9FF]  w-full sm:w-1/3 h-[10rem] sm:h-[12rem] rounded-[.5rem] border-[#8C52FF] border-[1px]  transform transition-all duration-500 hover:scale-105">
			<div class="flex m-2 gap-2 items-center justify-start">
				<img class="sm:w-[4rem] w-[2rem] sm:h-[4rem] h-[2rem] rounded-full" src="imagenes/perfil.jpg" alt="">
				<p class="text-[#8C52FF] font-medium text-left sm:text-[1.3rem] text-[1.2rem] font-opensans">Luisa Fernanda</p>
			</div>

			<div class="m-2">
				<p class="text-white text-[1.1rem] sm:text-[1rem] font-normal text-left font-opensans">También es una gran plataforma para crear un marco, ya que proporciona un entorno de desarrollo conectable. La comunidad también es increíble.</p>
			</div>

		</div>
		
	</div>
	
 
 
	

</Layout>
<script>



	const menuToggle = document.getElementById("menu-toggle");
	
	const mobileMenu = document.getElementById("mobile-menu");
	const icono=document.getElementById("icono");

	menuToggle!.addEventListener("click", () => {
		mobileMenu!.classList.toggle("hidden");
		
	if (icono!.classList.contains("fa-bars")) {
      icono!.classList.replace("fa-bars", "fa-xmark");
    } else {
      icono!.classList.replace("fa-xmark", "fa-bars");
    }
		
		
	});

	

	
		
  </script>


<style>
	.color{
     background: rgba(0, 0, 0, 0.5);
}
</style>

