---
import PaginacionLayout from "../layouts/PaginacionLayout.astro";
---

<PaginacionLayout title="Servicios">

    <div class="w-full mt-10">
        <h1 class="text-[2rem] font-italiana text-center">¿En qué te puedo proteger?</h1>
        <p class="text-[1.2rem] font-opensans text-center">En tu bienestar, en tu tranquilidad, en tu salud y en el futuro de tus seres queridos.</p>
    </div>

    <div class="flex sm:flex-row flex-col w-full items-center mt-10 gap-5">
        <div class="w-full px-5 sm:order-1 order-2">
            <p class="text-[1.2rem] font-opensans text-justify">Si quieres millones en tu cuenta, estas en el lugar correcto. Sé lo importante que es planificar adecuadamente tu futuro económico, aquí encontrarás las herramientas y los consejos necesarios para construir un plan de ahorro personal sólido y efectivo.</p>
        </div>
       <img class="sm:order-2" src="/imagenes/proteger.svg" alt="proteger">


    </div>

    <div class="w-full mt-10 px-5">
        <h2 class="text-[1.5rem] sm:text-[2rem] font-opensans text-center sm:text-left font-bold">PLAN SEGURO DE VIDA</h2>
    </div>

    <div class="w-full flex sm:flex-row flex-col gap-5 p-5">

        <div class="bg-[#8C52FF] w-full sm:w-1/3 rounded-[2rem] shadow-xl p-5 flex flex-col justify-around">

            <div class="font-opensans text-white text-[1.5rem] font-bold  w-full flex ">
                <span >Enfermedades Graves (Tiempos de espera)</span>
                <i class="fa-solid fa-hospital"></i>
            </div>

            <div class="font-opensans font-bold text-white text-[1rem] w-full">
                <p >BENEFICIOS</p>
            </div>

            <div class="w-full p-5">
                <ul class="text-white text-[1rem] list-disc font-opensans">
                    <li>Infarto agudo al miocardio</li>
                    <li>Procedimientos quirúrgicos del corazón</li>
                    <li>Insuficiencia hepática</li>
                    <li>Enfermedades cerebrovasculares</li>
                    <li>Insuficiencia renal crónica</li>
                    <li>SIDA</li>
                    <li>Trasplante de órganos vitales</li>
                    <li>Cáncer</li>
                </ul>
            </div>
                
           <div class="w-full h-12 flex justify-center">
            <a href="/agendar" class="w-full flex justify-center items-center">
                <button class="w-1/2 bg-white h-12 font-opensans font-semibold rounded-[2rem]">AGENDAR CITA</button>

            </a>
           </div>

           
        </div>
      


        <div class="bg-black w-full sm:w-1/3 rounded-[2rem] shadow-xl p-5 flex flex-col justify-between ">
            <div class="font-opensans text-white text-[1.5rem] font-bold  w-full flex  justify-between ">
                <span >Basica por fallecimiento</span>
                <i class="fa-solid fa-church"></i>

            </div>
            <div class="font-opensans font-bold text-white text-[1rem] w-full">
                <p >BENEFICIOS</p>
            </div>

            <div class="w-full p-5">
                <ul class="text-white text-[1rem] list-disc font-opensans">
                    <li>Pago anticipado por invalidez total y permanente </li>
                    <li>Muerte accidental o pérdidas orgánicas</li>
                  
                </ul>
            </div>
                
           <div class="w-full h-12 flex justify-center">
            <a href="/agendar" class="w-full flex justify-center items-center">
                <button class="w-1/2 bg-white h-12 font-opensans font-semibold rounded-[2rem]">AGENDAR CITA</button>

            </a>
           </div>
           
        </div>



        <div class="bg-[#8C52FF] w-full sm:w-1/3 rounded-[2rem] shadow-xl p-5 flex flex-col justify-around">
            <div class="font-opensans text-white text-[1.5rem] font-bold  w-full flex  justify-between ">
                <span >Asistencias</span>
                <i class="fa-solid fa-users"></i>
            </div>
            <div class="font-opensans font-bold text-white text-[1rem] w-full">
                <p >BENEFICIOS</p>
            </div>

            <div class="w-full p-5">
                <ul class="text-white text-[1rem] list-disc font-opensans">
                    <li>Asistencia Funeraria: $15,000</li>
                    <li>Boletos para identificación de restos: $5,000</li>
                    <li>Boletos para vuelta al lugar de origen: $5,000</li>
                    <li>Taxi Funerario: Viajes nacionales, máx 15km ($800)</li>
                    <li>Repatriación de restos: $100,000</li>
                    <li>Hotel/Alojamiento: $3,500 / día, máx 3 días</li>
                    <li>Asistencia de organización familiar: Referencias y asesoría telefónica</li>
                 
                </ul>
            </div>
                
           <div class="w-full h-12 flex justify-center">
            <a href="/agendar" class="w-full flex justify-center items-center">
                <button class="w-1/2 bg-white h-12 font-opensans font-semibold rounded-[2rem]">AGENDAR CITA</button>

            </a>
           </div>
           
        </div>

    </div>


    <div class="w-full mt-10 p-5">
        <h3 class="text-[1.5rem] sm:text-[2rem] font-opensans sm:text-left font-bold text-center">PREGUNTAS FRECUENTES</h3>
    </div>

    <div class="w-full px-5 font-opensans">
        <details class="p-4 border  bg-[#D7B9FF] group">
            <summary class="cursor-pointer text-[1.3rem] text-black flex items-center ">
                <i class="fa-solid fa-plus group-open:hidden mr-2"></i>
                <i class="fa-solid fa-minus hidden group-open:inline mr-2"></i>
                ¿Qué es un plan de ahorro para el retiro (PPR)?
            </summary>
            <p class="mt-2 text-black">Un plan de ahorro para el retiro es un vehículo financiero diseñado para ayudarte a acumular fondos durante tu vida laboral para asegurar un flujo de ingresos durante tu jubilación.</p>
          </details>

          <details class="p-4 border  bg-[#D7B9FF] group">
            <summary class="cursor-pointer text-[1.3rem] text-black flex items-center ">
                <i class="fa-solid fa-plus group-open:hidden mr-2"></i>
                <i class="fa-solid fa-minus hidden group-open:inline mr-2"></i>
                ¿Por qué debería considerar un PPR?
            </summary>
            <p class="mt-2 text-black">Un plan de ahorro para el retiro es un vehículo financiero diseñado para ayudarte a acumular fondos durante tu vida laboral para asegurar un flujo de ingresos durante tu jubilación.</p>
          </details>

          <details class="p-4 border  bg-[#D7B9FF] group">
            <summary class="cursor-pointer text-[1.3rem] text-black flex items-center ">
                <i class="fa-solid fa-plus group-open:hidden mr-2"></i>
                <i class="fa-solid fa-minus hidden group-open:inline mr-2"></i>
                ¿Cuándo debo comenzar a invertir en un PPR?

            </summary>
            <p class="mt-2 text-black">Un plan de ahorro para el retiro es un vehículo financiero diseñado para ayudarte a acumular fondos durante tu vida laboral para asegurar un flujo de ingresos durante tu jubilación.</p>
          </details>

          <details class="border bg-[#D7B9FF] group transition duration-1000 ease-in-out rounded p-2">
            <summary class="cursor-pointer text-[1.3rem] text-black flex items-center justify-between">
              ¿Cuándo debo invertir en mi PPR?
              <i class="fa-solid fa-chevron-down group-open:hidden mr-2 transition-transform duration-300 ease-in-out"></i>
              <i class="fa-solid fa-chevron-up hidden group-open:inline mr-2 transition-transform duration-300 ease-in-out"></i>
            </summary>
            <p class="mt-2 text-black text-[1rem] overflow-hidden h-0 group-open:h-[5rem] transition-all duration-300 ease-in-out">
              Un plan de ahorro para el retiro es un vehículo financiero diseñado para ayudarte a acumular fondos durante tu vida laboral para asegurar un flujo de ingresos durante tu jubilación.
            </p>
          </details>
          

          
    </div>

    <div class="w-full mt-10 p-5">
        <h4 class="text-[1.5rem] sm:text-[2rem] font-opensans sm:text-left font-bold text-center">También te podría interesar</h4>
    </div>
   
    <div class="w-full flex flex-wrap justify-around sm:py-24 sm:gap-20 px-5 gap-5">
        <a href="/bono" class="w-full sm:w-1/3"><button class="w-full h-[5rem] sm:h-[10rem] bg-black text-[1.1rem] sm:text-[2rem] text-white font-bold shadow rounded-[10rem] hover:shadow-white font-opensans">BONO DE FIDELIDAD</button></a>
        <a href="/ebook" class="w-full sm:w-1/3"><button class="w-full h-[5rem] sm:h-[10rem] bg-black text-[1.1rem] sm:text-[2rem] text-white font-bold shadow rounded-[10rem] hover:shadow-white font-opensans">GUIA PARA UN RETIRO FINANCIERO SEGURO</button></a>
        <a href="/seguro" class="w-full sm:w-1/3"><button class="w-full h-[5rem] sm:h-[10rem] bg-black text-[1.1rem] sm:text-[2rem] text-white font-bold shadow rounded-[10rem] hover:shadow-white font-opensans">SEGURO DE VIDA</button></a>
        <a href="/automovil" class="w-full sm:w-1/3"><button class="w-full h-[5rem] sm:h-[10rem] bg-black text-[1.1rem] sm:text-[2rem] text-white font-bold shadow rounded-[10rem] hover:shadow-white font-opensans">SEGURO DE AUTOMOVIL</button></a>
    </div>
</PaginacionLayout>