
<script>
import '../script/menuToggle.js'

</script>


<a href="https://wa.me/5214771917386?text=Hola,%20me%20gustaría%20recibir%20más%20información" target="_blank" class="w-full">

<button id="botonWhatsApp" class="hidden fixed bottom-5 right-5 bg-green-500 text-white p-3 rounded-full w-20 h-20 flex justify-center items-center text-5xl shadow shadow-black z-20">
    <i class="fa-brands fa-whatsapp"></i>
  </button>
</a>
